<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css" />

    <title>Meet</title>
</head>

<body>
    <div class="body-section">
        <div class="header">
            <h1>TEACHER ID: 1234</h1>
        </div>
        <div class="main-container">
            <div class="vedio-section">
                <iframe width="98%" height="95%" src="https://www.youtube.com/embed/1Ai3gcsiK70"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="btn-section">
                <div class="btn-container">
                    <div class="top-btn">
                        <div class="btn-1">
                            <div class="icon">
                                <%- include("./partials/icon1.ejs") %>
                            </div>
                        </div>
                        <div class="btn-2">
                            <div class="icon">
                                <%- include("./partials/icon2.ejs") %>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-btn">
                        <div class="btn-3">
                            <div class="icon">
                                <%- include("./partials/icon3.ejs") %>
                            </div>
                        </div>
                        <div class="btn-4">
                            <div class="icon">
                                <%- include("./partials/icon4.ejs") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h2>SCHOOL NAME</h2>
        </div>
    </div>

</body>

</html>